:root {
  /* default colors */
  --header-text-color: #141d2f;
  --text-color: #4b6a9b;
  --primary-background-color: #f6f8ff;
  --secondary-background-color: #ffffff;

  --greyish-blue: #697c9a;
  --light-blue: #0079ff;
  --shadow-color: rgba(0,0,0,0.19);

  --font-family: 'Space Mono', sans-serif;
}

[data-theme='dark'] {
  --header-text-color: #ffffff;
  --text-color: #ffffff;
  --primary-background-color: #141d2f;
  --secondary-background-color: #1e2a47;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background-color);
  font-family: var(--font-family);
}

h1, h2, h4 {
  color: var(--header-text-color);
}

h1 {
  font-size: 26px;
  line-height: 38px;
}

h2 {
  font-size: 22px;
  line-height: 33px;
}

h3 {
  color: var(--light-blue);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

p, span, a {
  color: var(--text-color);
  font-size: 15px;
  line-height: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  background-color: var(--secondary-background-color);
  caret-color: var(--light-blue);
  color: var(--text-color);
  border: none;
  font-family: inherit;
  padding: 15px;
  width: 225px;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--text-color);
}

.search-bar {
  background-color: var(--secondary-background-color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
  padding: 5px;
  width: 100%;
}

.search-button {
  background-color: var(--light-blue);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font: inherit;
  padding: 10px 15px;
}

.container {
  margin: 0 24px;
}

.shadow {
  -webkit-box-shadow: 0px 16px 30px -10px rgba(0,0,0,0.19);
  box-shadow: 0px 16px 30px -10px rgba(0,0,0,0.19);
}

.topbar {
  background-color: var(--primary-background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 25px;
}

.theme-switcher {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card {
  background-color: var(--secondary-background-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 15px;
}

.card__user-top-section {
  display: flex;
  align-items: center;
}

.card__avatar-container{
  margin-right: 15px;
}

.card__avatar-container__avatar {
  border-radius: 50%;
  width: 70px;
}

.card__user-metadata {
  background-color: var(--primary-background-color);
  border-radius: 5px;
  display: flex;
  padding: 15px;
  justify-content: space-around;
  width: 100%;
}

.card__user-metadata__info {
  text-align: center;
}

.card__user-metadata__info__count {
  font-weight: bold;
}

.card__user-link {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card__user-link__info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.inactive {
  color: var(--greyish-blue);
}

.sun-icon g {
  fill: #ffffff;
}

.moon-icon {
  fill: var(--text-color);
}

.svg-icon {
  fill: var(--text-color);
}

.inactive-svg {
  fill: var(--greyish-blue);
}

.svg-search-icon {
  fill: var(--light-blue);
}

@media (min-width: 768px) {
  .container {
    margin: auto;
    width: 573px;
  }
  .search-bar {
    justify-content: space-between;
    padding: 10px 32px;
  }
  input {
    width: 300px;
  }
  .card {
    padding: 40px;
  }
  .card__avatar-container {
    margin-right: 25px;
  }
  .card__avatar-container__avatar {
    width: 177px;
  }
  .card__user-link {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
  .card__user-link__info:nth-child(1),
  .card__user-link__info:nth-child(2) {
    margin-bottom: 25px;
  }
  .card__user-link__info {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 730px;
  }
  .card__avatar-container__avatar {
    width: 117px;
  }
}
