:root {
  /* light mode colors */
  --greyish-blue: #697c9a;
  --greyish-dark-blue: #4b6a9b;
  --grey: #2b3442;
  --light-grey: #f6f8ff;
  --off-white: #fefefe;

  /* dark mode colors */
  --darker-blue: #141d2f;
  --dark-blue: #1e2a47;

  /* default colors */
  --white: #ffffff;
  --light-blue: #0079ff;

  --font-family: 'Space Mono', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
}

h1 {
  font-size: 26px;
  line-height: 38px;
}

h2 {
  font-size: 22px;
  line-height: 33px;
}

h3 {
  color: var(--light-blue);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

h4 {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

p, span, a {
  font-size: 15px;
  line-height: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: inherit;
  padding: 15px;
}

input:focus {
  outline: none;
}

.container {
  margin: 0 24px;
}

.shadow {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.59);
}

.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 15px;
}

.card__user-top-section {
  display: flex;
  align-items: center;
}

.card__avatar-container{
  margin-right: 15px;
}

.card__avatar-container__avatar {
  border-radius: 50%;
  width: 70px;
}

.card__user-metadata {
  border-radius: 5px;
  display: flex;
  padding: 15px;
  justify-content: space-around;
  width: 100%;
}

.card__user-metadata__info {
  text-align: center;
}

.card__user-metadata__info__count {
  font-weight: bold;
}

.card__user-link {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card__user-link__info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.inactive {
  color: var(--grey);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--darker-blue);
  }

  h1, h2, h4, p, span, a {
    color: var(--white);
  }

  input {
    background-color: var(--dark-blue);
    color: var(--white);
  }

  .card {
    background-color: var(--dark-blue);
  }

  .card__user-metadata {
    background-color: var(--darker-blue);
  }

  .shadow {
    box-shadow: unset;
    -webkit-box-shadow: unset;
  }

  .inactive {
    color: var(--greyish-blue);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-grey);
  }

  h1, h2, h4 {
    color: var(--darker-blue);
  }

  p, span, a {
    color: var(--greyish-dark-blue);
  }

  input {
    background-color: var(--white);
  }

  .card {
    background-color: var(--white);
  }

  .card__user-metadata {
    background-color: var(--light-grey);
  }

  .card__user-metadata__info__count {
    color: var(--darker-blue);
  }

  .inactive {
    color: var(--greyish-blue);
  }
}
